*{
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#personagem{
    width: 20px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 150px;
    left: 20px;
}

.abaixado {
    height: 25px !important;
    top:  175px !important;
}

.agaixado {
    height: 25px !important;
}

.pulando{
    animation: personagem 500ms infinite;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#obstaculo{
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 180px;
}

.movimento_esquerda {
    animation: movimentoEsquerda 1s infinite linear;
}

@keyframes movimentoEsquerda{
    0%{left: 480px;}
    100%{left: -40px;}
}


#pontuacao {
    font-size: 30px;
    padding: 5px;
    margin-left: 440px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid black;
}

#pontuacaoMaxima {
    color: blue;
    font-size: 30px;
    padding: 5px;
    margin-left: 440px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid blue;
}